/* CSS TABLE OF CONTENTS 

#TYPOGRAPHY
    #BODY

*/

body {
    font-family: Avenir, sans-serif;
    font-size: 87.5%; /* 14px */
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em;
}

a {
    color: rgba()
}

h1 {
    font-size: 3em;
}